<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Edit Cars</h1>
    <form action="/cars/<%=eid%>?_method=PATCH" method="POST">
        <fieldset>
        <label for="brand">brand</label>
        <input type="text" id="brand" name="brand"  value= <%=eb%>>
        <br>
        <br>
        <label for="color">color</label>
        <input type="text" id="color" name="color" value= <%=ec%>>
        <br>
        <button type="submit">edit</button>
    </form>
</fieldset>
</body>
</html>